<div class="w-100 container px-2 py-4 px-lg-3 px-sm-5 py-lg-5 mt-5 mt-lg-0">
    <h1 class="text-primary-emphasis mb-3 mb-xl-4">Доходы и расходы </h1>
    <div class="d-flex align-items-center mb-5">
        <a href="/income-category-create" class="btn btn-success me-2 px-3 py-1">Создать доход</a>
        <a href="/expenses-category-create" class="btn btn-danger px-3 py-1">Создать расход</a>
    </div>
    <div class="d-flex align-items-center flex-wrap mb-3 justify-content-center justify-content-xl-start">
        <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
        <label class="btn border-secondary btn-outline-secondary me-1 me-sm-3 fw-medium main__btn px-2 py-1 mb-1 mb-sm-2"
            for="option1">Сегодня</label>

        <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
        <label class="btn border-secondary btn-outline-secondary me-1 me-sm-3 fw-medium main__btn px-2 py-1 mb-1 mb-sm-2"
            for="option2">Неделя</label>

        <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
        <label class="btn border-secondary btn-outline-secondary me-1 me-sm-3 fw-medium main__btn px-2 py-1 mb-1 mb-sm-2"
            for="option3">Месяц</label>

        <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
        <label class="btn border-secondary btn-outline-secondary me-1 me-sm-3 fw-medium main__btn px-2 py-1 mb-1 mb-sm-2"
            for="option4">Год</label>

        <input type="radio" class="btn-check" name="options" id="option5" autocomplete="off">
        <label class="btn border-secondary btn-outline-secondary me-1 me-sm-3 fw-medium main__btn px-2 py-1 mb-1 mb-sm-2"
            for="option5">Все</label>

        <div class="d-flex align-items-center mb-1 mb-sm-2">
            <input type="radio" class="btn-check" name="options" id="option6" autocomplete="off">
            <label class="btn border-secondary btn-outline-secondary me-1 me-sm-3 fw-medium main__btn px-2 py-1"
                for="option6">Интервал</label>
            <div>
                <span class="me-1 fw-medium">c</span>
                <span class="me-2 text-secondary fw-medium border-bottom border-secondary">Дата</span>
                <span class="me-1 fw-medium">по</span>
                <span class="text-secondary fw-medium border-bottom border-secondary">Дата</span>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table" id="table-income-and-expenses">
            <thead>
                <tr>
                <th scope="col">№ операции</th>
                <th scope="col">Тип</th>
                <th scope="col">Категория</th>
                <th scope="col">Сумма</th>
                <th scope="col">Дата</th>
                <th scope="col">Комментарий</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="teble-body-income-and-expenses"></tbody>
        </table>
    </div>
</div>
