.logo-img{
    width: 98px;
}

.menu-item__icon{
    width: 16px;
}

.menu-item__text{
    font-size: 14px;
}

.dropdown-toggle::after{
    display: none;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    border-color: transparent;
}