@import "bootstrap/scss/bootstrap";

.logo-img{
    width: 98px;
}

.menu-item__icon{
    width: 16px;
}

.menu-item__text{
    font-size: 14px;
}

.nav-link{
    .menu-icon__svg{
        path{
            fill: #052c65;
        }
    } 
}

.menu-item__text{
    color: #052c65;
}

.nav-link.active{
    .menu-icon__svg{
        path{
            fill: white;
        }
    }
} 

.nav-link.active{
    .menu-item__text{
        color: white;
    }     
}

.dropdown-toggle::after{
    display: none;
}

.dropend{
    .btn-logout::after{
        display: none;
    }
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    border-color: transparent;
}

.accordion-button::after {
    transform: rotate(-90deg);
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(0deg);
   background-image: url('../static/img/icon-arrow.svg');
}

.accordion-item:has(.accordion-button:not(.collapsed)){
    border: 1px solid #0d6efd!important;
}

.accordion-button:not(.collapsed) {
    background-color: #0d6efd!important;
    color: white!important;
}