<div class="w-100 container px-2 py-4 px-lg-3 px-sm-5 py-lg-5 mt-5 mt-lg-0">
    <h1 class="text-primary-emphasis mb-3 mb-xl-4">Главная</h1>
    <div class="d-flex align-items-center flex-wrap mb-1 justify-content-center justify-content-xl-start">
        <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
        <label class="btn border-secondary btn-outline-secondary me-1 me-sm-3 fw-medium main__btn px-2 py-1 mb-1 mb-sm-2"
            for="option1">Сегодня</label>

        <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
        <label class="btn border-secondary btn-outline-secondary me-1 me-sm-3 fw-medium main__btn px-2 py-1 mb-1 mb-sm-2"
            for="option2">Неделя</label>

        <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
        <label class="btn border-secondary btn-outline-secondary me-1 me-sm-3 fw-medium main__btn px-2 py-1 mb-1 mb-sm-2"
            for="option3">Месяц</label>

        <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
        <label class="btn border-secondary btn-outline-secondary me-1 me-sm-3 fw-medium main__btn px-2 py-1 mb-1 mb-sm-2"
            for="option4">Год</label>

        <input type="radio" class="btn-check" name="options" id="option5" autocomplete="off">
        <label class="btn border-secondary btn-outline-secondary me-1 me-sm-3 fw-medium main__btn px-2 py-1 mb-1 mb-sm-2"
            for="option5">Все</label>

        <div class="d-flex align-items-center mb-1 mb-sm-2">
            <input type="radio" class="btn-check" name="options" id="option6" autocomplete="off">
            <label class="btn border-secondary btn-outline-secondary me-1 me-sm-3 fw-medium main__btn px-2 py-1"
                for="option6">Интервал</label>
            <div>
                <span class="me-1 fw-medium">c</span>
                <span class="me-2 text-secondary fw-medium border-bottom border-secondary">Дата</span>
                <span class="me-1 fw-medium">по</span>
                <span class="text-secondary fw-medium border-bottom border-secondary">Дата</span>
            </div>
        </div>
    </div>
    <div class="row pt-4 pt-xl-5 justify-content-center justify-content-xl-start">
        <div class="col-12 col-xl-6 main__diagrams pe-0 pe-xl-5 mb-5 mb-xl-0">
            <h3 class="text-center mb-3 text-primary-emphasis">Доходы</h3>
            <canvas id="diagrams-income"></canvas>
        </div>
        <div class="col-12 col-xl-6 main__diagrams ps-0 ps-xl-5">
            <h3 class="text-center mb-3 text-primary-emphasis">Расходы</h3>
            <canvas id="diagrams-expenses"></canvas>
        </div>
    </div>
</div>
