<div class="w-100 container px-2 py-4 px-lg-3 px-sm-5 py-lg-5 mt-5 mt-lg-0">
    <h1 class="text-primary-emphasis mb-3 mb-xl-4 lh-1">Создание категории расходов</h1>
    <div class="row">
        <form action="" class="col-12 col-sm-9 col-md-7 col-lg-6">
            <input type="text" class="form-control" id="name-category" placeholder="Название...">
            <div class="text-center d-flex align-items-center mt-3">
                <button type="button" class="btn btn-success me-2 px-3 py-1" id="create-category">Создать</button>
                <a href="/expenses-category-list" class="btn btn-danger px-3 py-1">Отмена</a>
            </div>
        </form>
    </div>
</div>