<div class="w-100 container px-3 py-4 px-lg-5 px-sm-5 py-lg-5 mt-5 mt-lg-0">
    <h1 class="text-primary-emphasis mb-3 mb-xl-4">Доходы</h1>
    <div class="row gx-3 gy-3">
        <div class="col-12 col-xl-4">
            <div class="p-3 border rounded-3">
                <h3 class="mb-3">Депозиты</h3>
                <div class="d-flex">
                    <a href="/income-category-edit" class="btn btn-primary px-3 me-2">Редактировать</a>
                    <button type="button" class="btn btn-danger px-3" data-bs-toggle="modal" data-bs-target=".modal">Удалить</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="p-3 border rounded-3">
                <h3 class="mb-3">Зарплата</h3>
                <div class="d-flex">
                    <a href="/income-category-edit" class="btn btn-primary px-3 me-2">Редактировать</a>
                    <button type="button" class="btn btn-danger px-3" data-bs-toggle="modal" data-bs-target=".modal">Удалить</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="p-3 border rounded-3">
                <h3 class="mb-3">Сбережения</h3>
                <div class="d-flex">
                    <a href="/income-category-edit" class="btn btn-primary px-3 me-2">Редактировать</a>
                    <button type="button" class="btn btn-danger px-3" data-bs-toggle="modal" data-bs-target=".modal">Удалить</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="p-3 border rounded-3">
                <h3 class="mb-3">Инвестиции</h3>
                <div class="d-flex">
                    <a href="/income-category-edit" class="btn btn-primary px-3 me-2">Редактировать</a>
                    <button type="button" class="btn btn-danger px-3" data-bs-toggle="modal" data-bs-target=".modal">Удалить</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <a href="income-category-create.html" class="d-block w-100 h-100 border p-5 rounded-3 d-flex align-items-center justify-content-center">
                <img src="./image/icon-plus.png" alt="">
            </a>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content  p-3">
        <div class="modal-body">
            <div class="mb-3 fw-medium text-center lh-1">
                <div>Вы действительно хотите удалить категорию?</div> 
                <div>Связанные доходы будут удалены навсегда.</div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-success me-2">Да, удалить</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
            </div>
        </div>
        </div>
    </div>
</div>